Introduccion a Python

Curso Python

UniCafam

Estudiante: Raul Andres Casanova Porras

Docente: Niculas Mojica

In [ ]:
# El simbolo de # funciona para dejar comentarios de una linea
print("Hello word")

Hello word

In [ ]:
"""

Los simbolos de comillas

Sirven para dejar comentarios de varias lineas

"""

print("Hola mundo")

Hola mundo

**VARIABLES**

In [ ]:
#Las variables se nombran sin caracteres especiales y sin espacios

ejemplo_variable = "Hola mundo"
print(ejemplo_variable)

#Tambien se puede cambiar el valor de la variable

ejemplo_variable = "Adios mundo"
print(ejemplo_variable)

Hola mundo
Adios mundo

**TIPOS DE DATOS**

In [ ]:
entero = 42
flotante = 3.14159

In [ ]:
#Tambien se pueden convertir los tipos a otro especifico

entero = int(3.14159) #La respuesta es 3 dado que lo transforma en entero
flotante = float(42) #La respuesta es 42.0 dado que lo transforma en flotante

print(entero)
print(flotante)

**OPERADORES MATEMATICOS**

In [11]:
a = 2
b = 4

#Suma
print (a+b) #Resultado seria = 6

#Resta
print (b-a) #Resultado seria = 2

#Division

c = b/a # Resultado seria =2

print (c)

#Division entera, es la operacion que no deja residuos
d = 3

print (d//a) # doble // da si o si una division entera de lo contrario da numero float
print (d/a)

#Exponenciacion

print (a**5)

#Modulo

print (b%a)

#Asignacion compuesta
a += b

print (a)

a=2

# Redondeo de variables
e = 3.14159
print (round(e,2))
print (round(e))

#valor absoluto se utiliza abs
f = -b
print (abs(f))

6
2
2.0
1
1.5
32
0
6
3.14
3
4

**Textos o  valores String**

In [14]:
#Concatenacion de caracteres

saludo = "Hola"
nombre = "Mundo"
mensaje = saludo + " , " + nombre
print (mensaje)

Hola , Mundo

In [16]:
# Repeticion de caracteres
repetido = saludo * 3
print (repetido)

HolaHolaHola

In [19]:
# Indexacion Â¿?

#Obtener una variable que tenga el primer caracter de la variable saludo
primer_caracter = saludo[0]
print (primer_caracter)

# Generar una varible donde extraiga la palabra hola
subcadena = mensaje [0:4]
print (subcadena)

H
Hola

In [26]:
# Metodos de cadenas

#Mayusculas
cadena = "Python es genial"
print (cadena.upper())

# Minusculas

print (cadena.lower())

# Remplazo en cadena

print (cadena.replace("genial", "increible"))

# Separar cadena

print(cadena.split(" "))

print(cadena[0])

cadena_separado = cadena.split(" ")

print(cadena_separado[0])

PYTHON ES GENIAL
python es genial
Python es increible
['Python', 'es', 'genial']
P
Python

**ESTRUCTURAS DE DATOS**

In [44]:
#Listas son las estrucuras de datos en Python que son las mas usadas por su flexibilidad

lista = [1, 2, 3, "cuatro", 5.0] # No son inmutables osea que no son modificables
print (lista)
# Modificar elementos de la lista

lista [3]=4

print(lista)

"""
Insertar elementos
Con una posicion determinada
"""

lista.insert(3,3.3)

print(lista)

TypeError: 'list' object is not callable