Introduccion a Python

Curso Python

UniCafam

Estudiante: Raul Andres Casanova Porras

Docente: Niculas Mojica

In [ ]:
# El simbolo de # funciona para dejar comentarios de una linea
print("Hello word")

Hello word

In [ ]:
"""

Los simbolos de comillas

Sirven para dejar comentarios de varias lineas

"""

print("Hola mundo")

Hola mundo

**VARIABLES**

In [ ]:
#Las variables se nombran sin caracteres especiales y sin espacios

ejemplo_variable = "Hola mundo"
print(ejemplo_variable)

#Tambien se puede cambiar el valor de la variable

ejemplo_variable = "Adios mundo"
print(ejemplo_variable)

Hola mundo
Adios mundo

**TIPOS DE DATOS**

In [ ]:
entero = 42
flotante = 3.14159

In [ ]:
#Tambien se pueden convertir los tipos a otro especifico

entero = int(3.14159) #La respuesta es 3 dado que lo transforma en entero
flotante = float(42) #La respuesta es 42.0 dado que lo transforma en flotante

print(entero)
print(flotante)

**OPERADORES MATEMATICOS**

In [5]:
a = 2
b = 4

#Suma
print (a+b) #Resultado seria = 6

#Resta
print (b-a) #Resultado seria = 2

#Division

c = b/a # Resultado seria =2

print (c)

#Division entera, es la operacion que no deja residuos
d = 3

print (d//a) # doble // da si o si una division entera de lo contrario da numero float
print (d/a)

#Exponenciacion

print (a**5)

#Modulo

print (b%a)

6
2
2.0
1
1.5
32
0